
############## PUBLIC ENVIRONEMENT VARIABLES ##############
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_REVALIDATE_SECONDS=60





############## PRIVATE ENVIRONMENT VARIABLES ##############